
<script src="/scripts/bootstrap.bundle.js"></script>

<script>
const toggleSIdebar = document.querySelector('.toggleSIdebar')
toggleSIdebar.addEventListener('click', function() {
  console.log('hello');
})
</script>
</body>
</html>
